*{
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo>img {
    height: 90px;
}

.nav-items>ul {
    display: flex;
    list-style: none;
    padding:10px;
}

.nav-items>ul>li>.link {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.body>.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

.res-container .link{
    text-decoration: none;
    font-weight: bold;
    color:black;
}

.body>.res-container>.res-card{
    display: flex;
    flex-direction: column;
    height:300px;
    width:250px;
    padding:10px;
    transition: transform 0.05s ease-in-out,
}

.res-card:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.res-card>.food-logo>img{
    height:200px;
    width:250px;
    border-radius: 15px;
}

.description{
    display: flex;
    flex-direction: column;
    margin:0 20px;
    max-width: 200px;
    overflow: hidden;
}

.description>h3{
    margin-bottom: -11px;
}

.description>.details{
    display: flex;
    width:200px;
    justify-content: space-between;
}

.description>p{
   margin-top:-11px;
   color:rgb(110, 106, 106);
}

.description>.details>.time{
    font-weight: 700;
   
}

.filter{
    display: flex;
    margin:1rem;
    gap:1rem;
}

.search input{
    border-radius: 5px;
    padding:5px;
    border: 1px solid  black;
    outline: none;
    transition: border-color 0.3s;
}

.search input:focus{
    border: 2px solid green;
    border-radius: 5px;
    padding:5px;
}

.filter-btn{
    padding:0.5rem;
    border-radius: 10px;
    background-color: green;
    color:white;
    border:none;
    cursor: pointer;
}

.login-btn{
    padding:1rem;
    border-radius: 10px;
    background-color: green;
    color:white;
    border:none;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin:50px;
    height: 200px;
    width: 200px;
    background-color: #f0f0f0;
    transform: scale(50%);
    animation: shimmer 1.5s infinite;
}

.restaurant-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemName{
    text-align: start;
}

.info-div{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width:50vw;
    padding:1rem;
    border-radius: 2.5rem;
    border:1px solid #ccc;
    box-shadow:  12px 12px 4px #ccc,   /* soft top shadow */
    15px 15px 20px rgba(0, 0, 0, 0.08); 
}

.rating{
    display: flex;
    gap:1rem;
}

.cuisines{
    color:green;
    margin-bottom:0;
    margin-top:-1rem;
}

.place-date{
    font-weight: bold;
}

.deals{
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 150px;
    white-space: nowrap;
}

.deals-header{
    display: flex;
    justify-content: space-between;
}

.navigation-buttons{
    margin-top: 0.5rem;
}

button{
    border: none;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    background-color:green;
    border-radius: 10px;
    border:1px solid black;
}

button:disabled {
    cursor: none;
    opacity: 0.5;
    
}

.offers{
    display: flex;
    gap:1rem;
    width:50vw;
    overflow-x: auto;
    white-space: nowrap;
}

.offers::-webkit-scrollbar {
    display: none; 
}

.offer{
   border: 1px solid #ccc;
   border-radius: 1.5rem;
   justify-content: space-around;
   align-items: flex-start;
   padding:0.5rem;
   gap: 1rem;
   max-width: 250px;
   max-height: 80px;
   display: flex;
}

.deal-info{
    display: flex;
    flex-direction: column;
}

.deal-info .des{
    margin-top: -21px;
    color:#867d7d;
}

.offer .offer-tag{
    width:35px;
}

.menus{
    flex-direction: column;
    width: 50%;
    height: 150px;
    display: flex;
    white-space: nowrap;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu-details{
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.menu-details img{
    height: 150px;
    width:150px;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.menu-des{
    width:50vw
}

.menu-des .desp{
    width: 30vw;
    word-break: break-word;
    white-space: normal;
    margin-top: 8px;
    font-weight: 500;
    cursor: pointer;
}

@keyframes shimmer {
    0% {
      transform: scale(0%);
    }
    25% {
      transform: scale(50%);
    }
    50% {
      transform: scale(0%);
    }
    75% {
      transform: scale(50%);
    }
    100% {
      transform: scale(0%);
    }
  }